<header class="w-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 m-0 p-0"></div>
    <div class="container-fluit col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 p-0 m-0 flex-nowrap">

      <div class="collapse navbar-collapse p-0 m-0 float-left" id="navbarSupportedContent">
        <ul class="navbar-nav p-0 m-0">
          <a class="navbar-brand" id="banner" href="/main/">GorbacheW</a>
          <li class="nav-item ">
            <a class="nav-link" href="/" id="newses">Новости</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/guides/" id="guides">Гайды</a>
          </li>
         <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Узнать много нового о себе
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Ты клевый!</a>
              <a class="dropdown-item" href="#">Ты лучший!</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Ты красивый!</a>
            </div>-->
          </li>
          <li class="nav-item">
            <a class="nav-link bg-secondary" href="/click/" id="click">
              <font id="r" class="ml-1">В</font><font id="o">пер</font><font id="y">ед</font><font id="g"> к </font><font id="b">успе</font><font id="p">ху</font>
            </a>
          </li>
          {% if  user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link text-warning" href="/adminpanel/">Admin</a>
          </li>
          {% endif %}
        </ul>

      </div>
      {% if user.is_authenticated %}
      <div class="divbandavatar float-right ml-1">
            {% for avatar in BandAvatar %}   {# Обьявление изображения из папки media/images avatar это массив image это столб базыданных#}
              {% if avatar.avatar == True %}  {# Если фото с тегом аватар тру в базе то перменной присваивается значение 1  #}
                <a href="/{{ user.username }}/"> <img class="bandavatar" id = 'bandavatar'src="{{ MEDIA_URL }}{{ avatar.image.url }}" /></a>
              {% endif %}
            {% endfor %}
            {% load staticfiles %}
            <a href="/{{ user.username }}/"> <img class="bandavatar d-none" id = 'bandnophoto' src="{% static "mypage/nophoto.png" %}" /></a>
            <script type="text/javascript">
              if (!$('img').is('#bandavatar')){
                $('#bandnophoto').removeClass('d-none')
              }
            </script>
      </div>
        <a class="navbar-brand text-right ml-1 mr-0 float-right" id='mypage' href="/{{ user.username }}/">{{ user.username }}</a>
        <a class="navbar-brand text-right mr-0 float-right" id='login' href="/loginsys/logout/">Выйти</a>
        {# Глобальные переменные юзера для js #}
        <a class="d-none" id='username' name = 'username'>{{ user.username }}</a>
        <a class="d-none" id='user_id' name = 'user_id'>{{ user.id }}</a>

      {% else %}
        <a class="navbar-brand text-right float-right" id='login' href="/loginsys/register/">Регистрация</a>
        <a class="navbar-brand text-right float-right" id='login' href="/loginsys/login/">Войти</a>
      {% endif %}
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 m-0 p-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

  </nav>
</header>
