{% extends "main/maintemplate.html" %}
{% block content %}
<div align="center">
	<h1 ">Всем привет!!!</h1>
	<h2 ">Это основная страница, пока здесь ничего нет</h2>
</div>
<div class="d-flex justify-content-center col-sm-8">
<div class="item ">#</div>
<div class="item">#</div>
<div class="item">#</div>
<div class="item">#</div>
<div class="item">#</div>
<div class="item">#</div>
</div>

<p>Тэг-выделитель для <mark>подсветки</mark> текста.</p>
<p><del>Удаленный текст.</del></p>
<p><s>Зачеркнутый.</s></p>
<p><ins>Строка - дополнение к документу.</ins></p>
<p><u>Подчеркнутая</u></p>
<p><small>Мелкий шрифт (типа нижний индекс).</small></p>
<p><strong>Жирный текст.</strong></p>
<p><em>Курсив.</em></p>


<div style="width: 150px; height: 50px; background-color: green; color: white; text-align: center;" id="test" onclick="$('#test').hide()">Нажми и пропаду</div>

<table class="table table-bordered table-hover">
	<tr> <td> <a href="https://tutorial.djangogirls.org/ru/deploy/" class="text-info">Гайд по django and git and hostings djangowhere </a> </td> </tr>
	<tr> <td><a href="https://www.pythonanywhere.com/user/Gorbachew/" class="text-info">pythonanywhere</a></td> </tr>
	<tr> <td><a href="https://www.lfd.uci.edu/~gohlke/pythonlibs/#mysqlclient" class="text-info">connecting mysql for django</a></td> </tr>

</table>






{% endblock %}
