{% extends "main/maintemplate.html" %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static "news/css/news.css" %}">
{% endblock %}
{% block content %}
<script type="text/javascript">
  $('#newses').toggleClass('active');
</script>

<div id="news">
  <div id="new">

    <p id="date">Опубликовано: {{ article.date|date:"d-m-Y в H:i" }} Автор: <b><a href="/{{ article.author }}/">{{ article.author }}</a>
    {% if user.id == article.author_id %}
      <a class = "text-danger" href="/news/deletenews/{{article.id}}/">Удалить пост</a>
    {% endif %}
    </b></p>
    <p id = "title">{{ article.title }}</p><span class="d-none" id="article_id">{{article.id}}</span>
    <hr>
    <p id="post">{{ article.post|linebreaks }}</p>
    <hr>
    {% if  user.is_authenticated %}
    <h5 class = 'likes'>Лайков:</h5><h5 class = 'likes' id = "like"> {{ article.likes }}</h5>
    {% else %}
    <h5 id = "deactive_like">Лайков: {{ article.likes }}</h5>
    {% endif %}
    <h5 id="comm">Комментариев: {{article.comm}}</h5>
  </div>
  <div class="comments">
    {% for comment in comments reversed %}
    <div id="comment">
      <div class="divcommavatar mr-1 mt-1 float-left">
            {% for avatar in avatarscomments %}   {# Обьявление изображения из папки media/images avatar это массив image это столб базыданных#}
              {% if comment.author_id == avatar.user_id and avatar.avatar == True %}
                <a href="/{{ comment.author }}/">  <img class="commavatar" id = 'commentavatar'  src="{{ MEDIA_URL }}{{ avatar.image.url }}" /></a>
              {% endif %}
            {% endfor %}
            {% load staticfiles %}
            <a href="/{{ comment.author }}/"> <img class="commavatar d-none" id = 'commentnophoto' src="{% static "mypage/nophoto.png" %}" /></a>
            <script type="text/javascript">
              if (!$('img').is('#commentavatar')){
                $('#commentnophoto').removeClass('d-none')
              }
            </script>
      </div>
      <div class="content">
        <p id="id_comm" class="bg-light">Автор: <a href="/{{ comment.author }}/"><b>{{ comment.author }}</b></a> id: {{ comment.id }} Дата: {{ comment.date|date:"d-m-Y в H:i" }}
          {% if  user.is_authenticated %}
          Лайков: <a href="/news/addlikecomment/{{article.id}}/{{comment.id}}"> {{ comment.likes }}</a>
          {% else %}
          Лайков: {{ comment.likes }}
          {% endif %}
          {% if user.id == comment.author_id %}
          <a  class="text-danger" href="/news/deletecomment/{{article.id}}/{{comment.id}}">Удалить комментарий</a>
          {% endif %}
        </p>
        <p class="m-1">{{ comment.text|linebreaks }}</p>
      </div>
    </div>

    {% empty %}
    <h5>Комментариев нет</h5>
    {% endfor %}
  </div>
  {% if user.is_authenticated %}
  <div id="addcomments">
    <form action="/news/addcomment/{{article.id}}/" method="post">
      {% csrf_token %}
      {% for field in form %}
        {{ field }}
        <input type="submit" class="btn btn-info" id="add_comment" value="Добавить комментарий">
      {% endfor %}
    </form>
  </div>
  {% else %}
  <h4 class="bg-danger text-light text-center d-flex justify-content-center"> Войдите или зарегистрируйтесь, чтобы оставлять комментарии</h4>
  {% endif %}

</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'news/js/news.js' %}"></script>
{% endblock %}
