/* body{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} */
p{
	word-wrap: break-word;
}
a{
	color:black;
}
/* BAND */
@media screen and (min-width:991px){
	#banner{
		float: left;
	}

}
.divbandavatar{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}
.bandavatar{
	width: 100%;
}

#login:hover{
	color: red;
}
#mypage:hover{
	color: red;
}
#r{color:#F00100; text-shadow: black 0 0 0px;}
#o{color:#FF8000; text-shadow: black 0 0 0px;}
#y{color:#FFFF00; text-shadow: black 0 0 0px;}
#g{color:#00B001; text-shadow: black 0 0 0px;}
#b{color:#4041FF; text-shadow: black 0 0 0px;}
#p{color:#A100C1; text-shadow: black 0 0 0px;}

/*INCLUDES*/


/*MAIN*/
.mainblock{
	background-color: #FFFFFF;
	min-height: 800px;
}
@media screen and (max-width:600px){
	.mainblock{
		min-height: 400px;
	}
	}

/*GUIDES */
.right_column{
	overflow: hidden;
	border: solid 6px;
	border-color:  #EDEDED;
	margin:5px 5px;
	background: #F9F9F9;
	min-height: 100%;
}
.bookmarks{
	background: #FFF600;
	opacity: .9;
	border: 1px solid #B2FFFE;
}
/* MYPAGE */
.avatar{
max-width: 100%;
}
.profilblock{
	overflow: hidden;
	width: 100%;
	text-align: center;
	padding: 5px;
	border: 1px solid;
	border-radius: 5px;
}
.personalinfo{
	font-size: 16pt;
}
@media screen and (max-width:600px){
	.avatar{
	max-width: 100%;
	}
	.profilblock{
		overflow: hidden;
		width: 150px;
		font-size: 10pt;
	}
	.personalinfo{
		font-size: 12pt;
	}
	}
