<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 m-0 p-0"></div>
    <div class="container-fluit col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 p-0 m-0 flex-nowrap">


      <a class="navbar-brand float-left" href="/">GorbacheW</a>
      <div class="collapse navbar-collapse p-0 m-0 float-left" id="navbarSupportedContent">
        <ul class="navbar-nav p-0 m-0">
          <li class="nav-item">
            <a class="nav-link active" href="/">На главную<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/news/" id="news">Новости</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/guides/" id="guides">Гайды</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Узнать много нового о себе
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Ты клевый!</a>
              <a class="dropdown-item" href="#">Ты лучший!</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Ты красивый!</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" id="clicker">Вперед к успеху</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="/admin/">Admin</a>
          </li>
        </ul>
        <!-- For search  -->
        <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
      </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 m-0 p-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>

  </nav>
</header>
