{% extends "main/maintemplate.html" %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static "click/css/click.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "click/css/map.css" %}">
{% endblock %}
{% load staticfiles %}
{% block content %}
{% if id_player and user.is_authenticated %}
	{% for score in ScorePlayer %}
	<div id="kingdom">
		<div id ="first_menu">
			<div id = "scores">
				<div class = "div_score"><img class = "coin_icon" src="{% static 'click/img/icon/coin.png' %}"><p id="score" name="scores">{{ score.score|floatformat:"0" }}</p></div>
				<div class = "div_score"><img class = "coin_for_minutes_icon" src="{% static 'click/img/icon/coin_for_minutes.png' %}"><p id="score_cash" name="scores">{{ score.cash }}</p></div>
				<div class = "div_score"><img class = "coin_icon" src="{% static 'click/img/icon/food.png' %}"><p id="score_cash" name="scores">{{ score.cash }}</p></div>
				<p class = "d-none" id="score_builds" name="scores">{{ score.builds }}</p>
			</div>
			<div id = "coin">
				<img id='plus_button' class='plus_button' name = 'plus_button' src="/static/click/img/icon/coin.png" value=""><!--{% static 'click/img/money/onerub.png' %}-->
			</div>
			<div id = "statistic">
				<p style="color: white; font-size: 18pt;">Upgrades</p>
			</div>
		</div>
		<div id = "visual_block">
			<div id = "buttons">
				<input type="button" name="open_second_menu" value="Открыть меню" id = "open_second_menu">
			</div>
			<div id = "castle">
						{# <img src="{% static 'click/img/test.jpg' %}" id = "image_place"> #}
					<div id="image_place">
						<div class="land">
							<img src="{% static 'click/img/land/bird.gif' %}" id="bush_anim" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/land/river_anim.gif' %}" id="river_anim" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/land/birch_anim.gif' %}" id="birch_anim" class="background_image" width="100%" height="100%">
							{# <img src="{% static 'click/img/land/oak_anim.gif' %}" id="oak_anim" class="background_image" width="100%" height="100%"> #}
							<img src="{% static 'click/img/land/3oak_anim.gif' %}" id="oak_anim" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/land/spruce_anim.gif' %}" id="spruce_anim" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/land/3bush_anim.gif' %}" id="bush_anim" class="background_image" width="100%" height="100%">
						</div>

						<div id="builds">


						</div>

						<div id="ruined_builds">
							<img src="{% static 'click/img/builds/ruined/Ruined_Castle.gif' %}" id = "Ruined_Castle" class="background_image " width="100%" height="100%">
							<img src="{% static 'click/img/builds/ruined/ruined_wall2.png' %}" id="ruined_wall2" class="background_image " width="100%" height="100%">
							<img src="{% static 'click/img/builds/ruined/ruined_wall.png' %}" id="ruined_wall" class="background_image " width="100%" height="100%">
							<img src="{% static 'click/img/builds/ruined/ruined_tower2.png' %}" id="ruined_tower2" class="background_image " width="100%" height="100%">
							<img src="{% static 'click/img/builds/ruined/ruined_tower1.png' %}" id="ruined_tower1" class="background_image " width="100%" height="100%">
							<img src="{% static 'click/img/builds/ruined/ruined_bridge.png' %}" id="ruined_bridge" class="background_image " width="100%" height="100%">
							<img src="{% static 'click/img/builds/ruined/ruined_bridge2.png' %}" id="ruined_bridge2" class="background_image " width="100%" height="100%">
							<img src="{% static 'click/img/builds/ruined/ruined_house2.png' %}" id="ruined_house2" class="background_image " width="100%" height="100%">
							<img src="{% static 'click/img/builds/ruined/ruined_house1.png' %}" id="ruined_house1" class="background_image " width="100%" height="100%">
							<img src="{% static 'click/img/builds/ruined/ruined_stock.png' %}" id="ruined_stock" class="background_image " width="100%" height="100%">
						</div>
						<div class="people">
							<img src="{% static 'click/img/people/king2.gif' %}" id="king_anim" name = "king" class="background_image">
							<div id="peasant_field"></div><div id="peasant_field2"></div>
							<div id="engeneer_field"></div><div id="engeneer_field2"></div>
							<div id="merchant_field"></div><div id="merchant_field2"></div>
							<div id="scientist_field"></div><div id="scientist_field2"></div>
							<div id="thief_field"></div><div id="thief_field2"></div>
							<div id="footer_field"></div><div id="footer_field2"></div>
							<div id="archer_field"></div><div id="archer_field2"></div>
							<div id="monk_field"></div><div id="monk_field2"></div>
							<div id="rich_field"></div><div id="rich_field2"></div>
						</div>
						<!--<div id="Castle_area" class="areas">

						</div>
						<div id="Rich_area" class="areas">

						</div>
						<div id="Religious_area" class="areas">

						</div>
						<div id="Defense_area" class="areas">

						</div>
						<div id="Army_area" class="areas">

						</div>
						<div id="Thief_area" class="areas">

						</div>
						<div id="Scientist_area" class="areas">

						</div>
						<div id="Merchant_area" class="areas">

						</div>
						<div id="Craftsman_area" class="areas">

						</div>
						<div id="Peasant_area" class="areas">

						</div> -->
					</div>
			</div>
			<div id="bottom_menu">

			</div>
		</div>
		<div id="second_menu">
			<div id = "switch">
				<input type="button" class = "switch_btn" name="builds" value="Здания" id="switch_builds">
				<input type="button" class = "switch_btn" name="peoples" value="Люди" id="switch_peoples">
				<input type="button" class = "switch_btn" name="events" value="Улучшения" id="switch_upgrades">
				<input type="button" class = "switch_btn" name="close_second_menu" value="Закрыть" id="close_second_menu">
			</div>
			<div id = "menu_builds" class="">
				<!-- lvl 1 -->
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_11">Лачуга</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_12">Амбар</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_13">Староста</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_14">Свинарник</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_15">Левое поле</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_16">Правое поле</button>
				<!-- lvl 2 -->
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_21">Дом Дровосека</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_22">Мастерская</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_23">Мельница</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_24">Кузня</button>
				<!-- lvl 3 -->
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_31">Торговая лавка</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_32">Склад</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_33">Магазин</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_34">Торговая гильдия</button>
				<!-- lvl 4 -->
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_41">Дом Писаря</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_42">Дом Ученого</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_43">Дом Поэта</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_44">Музей</button>
				<!-- lvl 5 -->
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_51">Заброшенный дом</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_52">Таверна</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_53">Дом на продажу</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_54">Дом главы воров</button>
				<!-- lvl 6 -->
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_61">Дозорная вышка</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_62">Блокпост</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_63">Палаточный лагерь</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_64">Казарма</button>
				<!-- lvl 7 -->
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_71">Северная башня</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_72">Башня с баллистой</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_73">Арсенал</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_74">Пост Начальника стражи</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_75">Стена</button>
				<!-- lvl 8 -->
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_81">Храм</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_82">Церковь</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_83">Общежитие</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_84">Лавра</button>
				<!-- lvl 9 -->
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_91">Роскошный дом</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_92">Цирк</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_93">Дом мэра</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_94">Резиденция</button>
				<!-- lvl 10 -->
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_101">Деревянный замок</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_102">Крепость</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_103">Тюрьма</button>
				<button class = "button_menu_builds" type="button" name="raz" id="build_btn_104">Палаты ордена</button>
				<!--
				<span class="names_object">Разрушенные здания</span><br>
				<input type="checkbox" name="ruined_castle" id = "check_ruined_castle" value="" ><span class = "names_object">Разрушенный замок</span><br>
				<input type="checkbox" name="ruined_house1" id = "check_ruined_houses" value="" ><span class = "names_object">Крестьянские дома</span><br>
				<input type="checkbox" name="ruined_bridge1" id = "check_ruined_bridge1" value="" ><span class = "names_object">Мост1</span><br>
				<input type="checkbox" name="ruined_bridge2" id = "check_ruined_bridge2"  value=""><span class = "names_object">Мост2</span><br>
				<input type="checkbox" name="ruined_stock" id = "check_ruined_stock" value="" ><span class = "names_object">Амбар</span><br>
				<input type="checkbox" name="ruined_tower1" id = "check_ruineds_wall" value="" ><span class = "names_object">Руины стены</span><br>
				<input type="checkbox" name="ruined_wall2" id = "check_ruined_deffence_castle" value="" checked><span class = "names_object">Оборона у замка</span><br>
				<span class="names_object">Здания</span><br>
				<input type="checkbox" name="castle" id = "check_castle" value=""><span class = "names_object">Замок 1ур</span><br>
				-->
			</div>
			<div id = "people" class="d-none">
				<button class = "button_menu_people" type="button" name="raz" id="people_peasant">Купить крестьянина</button>
				<button class = "button_menu_people" type="button" name="raz" id="people_engeneer">Купить инженера</button>
				<button class = "button_menu_people" type="button" name="raz" id="people_merchant">Купить торговца</button>
				<button class = "button_menu_people" type="button" name="raz" id="people_scientist">Купить ученого</button>
				<button class = "button_menu_people" type="button" name="raz" id="people_thief">Купить вора</button>
				<button class = "button_menu_people" type="button" name="raz" id="people_footer">Купить война</button>
				<button class = "button_menu_people" type="button" name="raz" id="people_archer">Купить защитника</button>
				<button class = "button_menu_people" type="button" name="raz" id="people_monk">Купить монаха</button>
				<button class = "button_menu_people" type="button" name="raz" id="people_rich">Купить чиновника</button>
				<!--
				<span class = "names_object"> Выбор короля: </span>
				<table>
					<tr>
						<td><span class = "names_object"> blue </span></td> <td>	<span class = "names_object"> red </span></td> <td>	<span class = "names_object"> black </span></td>
					</tr>
					<tr>
						<td>	<input type="radio" name="radio_king" id = "radio_king1" checked></td> <td>	<input type="radio" name="radio_king" id = "radio_king2" ></td> <td><input type="radio" name="radio_king" id = "radio_king3"></td>
					</tr>
				</table>
			-->

			</div>

			<div id = "events" class="d-none">

			</div>
		</div>

		<div id="mobile">
			<div id = "scores">
				<div class = "div_score"><img class = "scores_icon" src="{% static 'click/img/money/onerub.png' %}"><p id="score" name="scores">{{ score.score }}</p></div>
				<div class = "div_score"><img class = "scores_icon" src="{% static 'click/img/money/onerub.png' %}"><p id="score_cash" name="scores">{{ score.cash }}</p></div>
			</div>
			<div id = "statistic">
				<p style="color: white; font-size: 18pt;">Statistic</p>
			</div>
			<div id = "coin">
				<img id='plus_button' class='plus_button' name = 'plus_button' src="" value=""><!--{% static 'click/img/money/onerub.png' %}-->
				<span class = 'd-none' id = 'currency' >{{score.currency }}</span>
			</div>
		</div>
	</div>



<!--
	<span id = "date_last_exit" class="d-none">{{score.date_last_exit|date:"d-m-Y H:i"}}</span>
	<div class="millionere d-none">
			<div class="button_panel">
				<h2>Рублей:</h2><h2 id="score" name="score">{{ score.score }}</h2>
				<h2>Рублей в минуту:</h2><h2 id="score_cash" name="score_cash">{{ score.cash }}</h2>
				<div class="tables justify-content-center">
					<div class="line_interacrive_objects">
						<div class="div_buttons col-4 p-0">
							{# Кнопка прибавления счета #}
							<img id='plus_button' class='plus_button' name = 'plus_button' src="{% static 'click/img/money/onerub.png' %}" value="">
							<span class = 'd-none' id = 'currency' >{{score.currency }}</span>
						</div>
						<div class="div_buttons col-4 p-0">
							{# Кнопка прибавления счета #}
							<img id='upgrade_build' class='push_upgrades' name = 'upgrade_build' src="{% static 'click/img/buildone.png' %}" value="">
							<span class = 'd-none' id = 'levelbuild' >{{score.levelbuild}}</span>
							<h6 class = 'float-left'>Цена:</h6><h6 class = 'price' id = 'price_upgrade_build'>{{ score.price_levelbuild }}</h6>
						</div>
						<div class="div_buttons col-4 p-0">
							{# Кнопка прибавления счета #}
							<img id='upgrade_plus' class='push_upgrades' name = 'upgrade_plus' src="{% static 'click/img/upgrade.png' %}" value="">
							<h6 class = 'float-left'>Цена:</h6><h6 class = 'price' id = 'price_upgraide_currency'>{{ score.price_upgraide_currency }}</h6>
						</div>
					</div>
					<div class="line_interacrive_objects" id="upgrades">
						<h6 class="m-0">upgrades</h6>
						<div class="div_buttons col-4 p-0 d-none" id='div_plus_bastshoes_button'>
							{# Кнопка прибавления счета #}
							<img id='plus_bastshoes_button' class='push_upgrades' name = 'plus_bastshoes_button' src="{% static 'click/img/bastshoesicon.png' %}" value="">
							<h6 class="count_upgrades" id ="count_bastshoes" name="count_bastshoes" class = "">{{ score.bastshoes }}</h6>
							<h6 class = 'float-left'>Цена:</h6><h6 class = 'price' id = 'price_bastshoes'>{{ score.price_bastshoes }}</h6>
						</div>
						<div class="div_buttons col-4 p-0 d-none" id='div_plus_cats_button'>
							{# Кнопка прибавления счета #}
							<img id='plus_cats_button' class='push_upgrades' name = 'plus_cats_button' src="{% static 'click/img/moneycat1.png' %}" value="">
							<h6 class="count_upgrades" id ="cats" name="cats" class = "">{{ score.cats }}</h6>
							<h6 class = 'float-left'>Цена:</h6><h6 class = 'price' id = 'price_cats'>{{ score.price_cats }}</h6>
						</div>
					</div>
				</div>
				<div class="div_buttons d-none">
					<input id="standup_russia" class = "btn btn-danger" type="button" name="standup_russia" value="Поднять страну с колен">
				</div>
			</div>
			<p id="check"></p>
			<div class="gif_panel p-0">
				<div class =  "build">
					<img src="{% static 'click/img/firstfloar.png' %}" class="build d-none" id="build">
					<div id = "bastshoes_gif">
					</div>
				</div>

				<!--
				<div class="cats_gif d-none p-0 " id = "cats_gif">
					<div class="d-flex p-0 m-0"id="tablecats">
						<img src="{% static 'click/img/tablecatsleft.png' %}" class="col-4 p-0 m-0" id="">
						<img src="{% static 'click/img/tablecatscenter.png' %}" class="col-4 p-0 m-0" id="">
						<img src="{% static 'click/img/tablecatsright.png' %}" class="col-4 p-0 m-0" id="">
					</div>
					<img src="{% static 'click/img/goldcat.gif' %}" class="col-4 p-0 m-0 d-none" id="left_cat">
					<img src="{% static 'click/img/bankcat.gif' %}" class="col-4 p-0 m-0 d-none" id="center_cat">
					<img src="{% static 'click/img/businesscat.gif' %}" class="col-4 p-0 m-0 d-none" id="right_cat">
					-->
				</div>

			</div>

	</div>
-->
	{% endfor %}
	{# <button type="button" name="btn2" class="btn btn-info" onclick="helpers(),test()">Купить помошника</button> #}
	<!-- <button type="button" name="btn3" class="btn btn-info" onclick="test()">Какой счет?</button> -->


{% elif user.is_authenticated %}
<!-- Если пользователь авторизирован, но про него нет информации в БД игры высвечивается эта форма -->
<div class="register">
	<form class="" action="/click/newgame/" method="post">{% csrf_token %}
		<input class="btn btn-primary" type="submit" name="begin" value="Начать">
		{{ Form.user }}
		<script type="text/javascript">
			$('#id_user').val("{{user.id}}");
		</script>
	</form>
</div>
{% else %}
<h4 class="bg-danger text-light text-center d-flex justify-content-center"> Войдите или зарегистрируйтесь, чтобы начать играть</h4>
{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'click/js/engine.js' %}"></script>
<script type="text/javascript" src="{% static 'click/js/objects.js' %}"></script>
{% endblock %}
