{% extends "main/maintemplate.html" %}
{% load staticfiles %}
{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static "click/css/click.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "click/css/map.css" %}">
{% endblock %}
{% load staticfiles %}
{% block content %}
{% if id_player and user.is_authenticated %}
	{% for score in ScorePlayer %}
	<div id="kingdom">
		<div id ="first_menu">
			<div id = "scores">
				<div class = "div_score"><img class = "scores_icon" src="{% static 'click/img/money/onerub.png' %}"><p id="score" name="scores">{{ score.score }}</p></div>
				<div class = "div_score"><img class = "scores_icon" src="{% static 'click/img/money/onerub.png' %}"><p id="score_cash" name="scores">{{ score.cash }}</p></div>
			</div>
			<div id = "coin">
				<img id='plus_button' class='plus_button' name = 'plus_button' src="" value=""><!--{% static 'click/img/money/onerub.png' %}-->
				<span class = 'd-none' id = 'currency' >{{score.currency }}</span>
			</div>
			<div id = "statistic">
				<p style="color: white; font-size: 18pt;">Upgrades</p>
			</div>
		</div>
		<div id = "visual_block">
			<div id = "buttons">
				<input type="button" name="open_second_menu" value="Открыть меню" id = "open_second_menu">
			</div>
			<div id = "castle">
						{# <img src="{% static 'click/img/test.jpg' %}" id = "image_place"> #}
					<div id="image_place">
						<div class="land">
							<img src="{% static 'click/img/land/bird.gif' %}" id="bush_anim" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/land/river_anim.gif' %}" id="river_anim" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/land/birch_anim.gif' %}" id="birch_anim" class="background_image" width="100%" height="100%">
							{# <img src="{% static 'click/img/land/oak_anim.gif' %}" id="oak_anim" class="background_image" width="100%" height="100%"> #}
							<img src="{% static 'click/img/land/3oak_anim.gif' %}" id="oak_anim" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/land/spruce_anim.gif' %}" id="spruce_anim" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/land/3bush_anim.gif' %}" id="bush_anim" class="background_image" width="100%" height="100%">
						</div>

						<div id="builds">
							<!-- road_and_bridge -->
							<img src="{% static 'click/img/builds/road_and_bridge.png' %}" id="road_and_bridge" class="background_image" width="100%" height="100%">
							<!-- Level_One -->
							<img src="{% static 'click/img/builds/1pigsty.gif' %}" id="pigsty" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/1shack.gif' %}" id="shack" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/1stock.gif' %}" id="stock" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/1village_head_red.gif' %}" id="village_head_red" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/1field_left.gif' %}" id="field_left" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/1field_right.gif' %}" id="field_right" class="background_image" width="100%" height="100%">
							<!-- Level_Two -->
							<img src="{% static 'click/img/builds/2master_cart.gif' %}" id="2master_cart" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/2forge.gif' %}" id="2forge" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/2mill.gif' %}" id="2mill" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/2woodcutter.gif' %}" id="2woodcutter" class="background_image" width="100%" height="100%">
							<!-- Level_Tree -->
							<img src="{% static 'click/img/builds/3Trade_Shop.gif' %}" id="3Trade_Shop" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/3Market.gif' %}" id="3Market" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/3Merchants_Guild_red.gif' %}" id="3Merchants_Guild_red" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/3Trade_stock.gif' %}" id="3Trade_stock" class="background_image" width="100%" height="100%">
							<!-- Level_Four -->
							<img src="{% static 'click/img/builds/4clerk_house.gif' %}" id="4clerk_house" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/4library.gif' %}" id="4library" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/4scientist_house.gif' %}" id="4scientist_house" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/4writer_house.gif' %}" id="4writer_house" class="background_image" width="100%" height="100%">
							<!-- Level_five -->
							<img src="{% static 'click/img/builds/5master_thief.gif' %}" id="5master_thief" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/5sale_hause.gif' %}" id="5sale_hause" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/5strange-hause.gif' %}" id="5strange-hause" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/5tavern.gif' %}" id="5tavern" class="background_image" width="100%" height="100%">
							<!-- Level_Six -->
							<img src="{% static 'click/img/builds/6watch_tower.gif' %}" id="6watch_tower" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/6Checkpoint.gif' %}" id="6Checkpoint" class="background_image" width="100%" height="100%">

						</div>

						<div id="ruined_builds">
							<img src="{% static 'click/img/builds/ruined/Ruined_Castle.gif' %}" id = "Ruined_Castle" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/ruined/ruined_wall2.png' %}" id="ruined_wall2" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/ruined/ruined_wall.png' %}" id="ruined_wall" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/ruined/ruined_tower2.png' %}" id="ruined_tower2" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/ruined/ruined_tower1.png' %}" id="ruined_tower1" class="background_image" width="100%" height="100%">
							<img src="{% static 'click/img/builds/ruined/ruined_bridge.png' %}" id="ruined_bridge" class="background_image " width="100%" height="100%">
							<img src="{% static 'click/img/builds/ruined/ruined_bridge2.png' %}" id="ruined_bridge2" class="background_image d-none" width="100%" height="100%">
							<img src="{% static 'click/img/builds/ruined/ruined_house2.png' %}" id="ruined_house2" class="background_image d-none" width="100%" height="100%">
							<img src="{% static 'click/img/builds/ruined/ruined_house1.png' %}" id="ruined_house1" class="background_image d-none" width="100%" height="100%">
							<img src="{% static 'click/img/builds/ruined/ruined_stock.png' %}" id="ruined_stock" class="background_image d-none" width="100%" height="100%">
						</div>
						<div class="people">
							<img src="{% static 'click/img/people/king1.gif' %}" id="king_anim" name = "blue_king" class="background_image">
							<div id="peasant_field">
								<img src="{% static 'click/img/people/peasant.gif' %}" id="peasant" name = "blue_king" class="background_image worker">
								<img src="{% static 'click/img/people/peasant.gif' %}" id="peasant" name = "blue_king" class="background_image worker">
								<img src="{% static 'click/img/people/peasant.gif' %}" id="peasant" name = "blue_king" class="background_image worker">
								<img src="{% static 'click/img/people/peasant.gif' %}" id="peasant" name = "blue_king" class="background_image worker">
								<img src="{% static 'click/img/people/peasant.gif' %}" id="peasant" name = "blue_king" class="background_image worker">
								<img src="{% static 'click/img/people/peasant.gif' %}" id="peasant" name = "blue_king" class="background_image worker">
								<img src="{% static 'click/img/people/peasant.gif' %}" id="peasant" name = "blue_king" class="background_image worker">
								<img src="{% static 'click/img/people/peasant.gif' %}" id="peasant" name = "blue_king" class="background_image worker">
								<img src="{% static 'click/img/people/peasant.gif' %}" id="peasant" name = "blue_king" class="background_image worker">
								<img src="{% static 'click/img/people/peasant.gif' %}" id="peasant" name = "blue_king" class="background_image worker">
								<img src="{% static 'click/img/people/peasant.gif' %}" id="peasant" name = "blue_king" class="background_image worker">
								<img src="{% static 'click/img/people/peasant.gif' %}" id="peasant" name = "blue_king" class="background_image worker">
								<img src="{% static 'click/img/people/peasant.gif' %}" id="peasant" name = "blue_king" class="background_image worker">
							</div>
							<div id="engeneer_field">
								<img src="{% static 'click/img/people/2engeneer.gif' %}" id="2engeneer" name = "blue_king" class="background_image worker">
								<img src="{% static 'click/img/people/2engeneer.gif' %}" id="2engeneer" name = "blue_king" class="background_image worker">
								<img src="{% static 'click/img/people/2engeneer.gif' %}" id="2engeneer" name = "blue_king" class="background_image worker">
								<img src="{% static 'click/img/people/2engeneer.gif' %}" id="2engeneer" name = "blue_king" class="background_image worker">
								<img src="{% static 'click/img/people/2engeneer.gif' %}" id="2engeneer" name = "blue_king" class="background_image worker">
							</div>
							<div id="merchant_field">
								<img src="{% static 'click/img/people/3merchant.gif' %}" id="3merchant" class="background_image worker">
								<img src="{% static 'click/img/people/3merchant.gif' %}" id="3merchant" class="background_image worker">
								<img src="{% static 'click/img/people/3merchant.gif' %}" id="3merchant" class="background_image worker">
								<img src="{% static 'click/img/people/3merchant.gif' %}" id="3merchant" class="background_image worker">
								<img src="{% static 'click/img/people/3merchant.gif' %}" id="3merchant" class="background_image worker">
							</div>
						</div>
						<!--<div id="Castle_area" class="areas">

						</div>
						<div id="Rich_area" class="areas">

						</div>
						<div id="Religious_area" class="areas">

						</div>
						<div id="Defense_area" class="areas">

						</div>
						<div id="Army_area" class="areas">

						</div>
						<div id="Thief_area" class="areas">

						</div>
						<div id="Scientist_area" class="areas">

						</div>
						<div id="Merchant_area" class="areas">

						</div>
						<div id="Craftsman_area" class="areas">

						</div>
						<div id="Peasant_area" class="areas">

						</div> -->
					</div>
			</div>
			<div id="bottom_menu">

			</div>
		</div>
		<div id="second_menu">
			<div id = "switch">
				<input type="button" class = "switch_btn" name="builds" value="Здания" id="switch_builds">
				<input type="button" class = "switch_btn" name="peoples" value="Люди" id="switch_peoples">
				<input type="button" class = "switch_btn" name="events" value="Улучшения" id="switch_upgrades">
				<input type="button" class = "switch_btn" name="close_second_menu" value="Закрыть" id="close_second_menu">
			</div>
			<div id = "menu_builds" class="">
				<span class="names_object">Разрушенные здания</span><br>
				<input type="checkbox" name="ruined_castle" id = "check_ruined_castle" value="" checked><span class = "names_object">Разрушенный замок</span><br>
				<input type="checkbox" name="ruined_house1" id = "check_ruined_houses" value="" ><span class = "names_object">Крестьянские дома</span><br>
				<input type="checkbox" name="ruined_bridge1" id = "check_ruined_bridge1" value="" checked><span class = "names_object">Мост1</span><br>
				<input type="checkbox" name="ruined_bridge2" id = "check_ruined_bridge2"  value=""><span class = "names_object">Мост2</span><br>
				<input type="checkbox" name="ruined_stock" id = "check_ruined_stock" value="" ><span class = "names_object">Амбар</span><br>
				<input type="checkbox" name="ruined_tower1" id = "check_ruineds_wall" value="" checked><span class = "names_object">Руины стены</span><br>
				<input type="checkbox" name="ruined_wall2" id = "check_ruined_deffence_castle" value="" checked><span class = "names_object">Оборона у замка</span><br>
				<span class="names_object">Здания</span><br>
				<input type="checkbox" name="castle" id = "check_castle" value=""><span class = "names_object">Замок 1ур</span><br>

			</div>
			<div id = "people" class="d-none">
				<span class = "names_object"> Выбор короля: </span>
				<table>
					<tr>
						<td><span class = "names_object"> blue </span></td> <td>	<span class = "names_object"> red </span></td> <td>	<span class = "names_object"> black </span></td>
					</tr>
					<tr>
						<td>	<input type="radio" name="radio_king" id = "radio_king1" checked></td> <td>	<input type="radio" name="radio_king" id = "radio_king2" ></td> <td><input type="radio" name="radio_king" id = "radio_king3"></td>
					</tr>
				</table>

			</div>
			<div id = "events" class="d-none">

			</div>
		</div>

		<div id="mobile">
			<div id = "scores">
				<div class = "div_score"><img class = "scores_icon" src="{% static 'click/img/money/onerub.png' %}"><p id="score" name="scores">{{ score.score }}</p></div>
				<div class = "div_score"><img class = "scores_icon" src="{% static 'click/img/money/onerub.png' %}"><p id="score_cash" name="scores">{{ score.cash }}</p></div>
			</div>
			<div id = "statistic">
				<p style="color: white; font-size: 18pt;">Statistic</p>
			</div>
			<div id = "coin">
				<img id='plus_button' class='plus_button' name = 'plus_button' src="" value=""><!--{% static 'click/img/money/onerub.png' %}-->
				<span class = 'd-none' id = 'currency' >{{score.currency }}</span>
			</div>
		</div>
	</div>



<!--
	<span id = "date_last_exit" class="d-none">{{score.date_last_exit|date:"d-m-Y H:i"}}</span>
	<div class="millionere d-none">
			<div class="button_panel">
				<h2>Рублей:</h2><h2 id="score" name="score">{{ score.score }}</h2>
				<h2>Рублей в минуту:</h2><h2 id="score_cash" name="score_cash">{{ score.cash }}</h2>
				<div class="tables justify-content-center">
					<div class="line_interacrive_objects">
						<div class="div_buttons col-4 p-0">
							{# Кнопка прибавления счета #}
							<img id='plus_button' class='plus_button' name = 'plus_button' src="{% static 'click/img/money/onerub.png' %}" value="">
							<span class = 'd-none' id = 'currency' >{{score.currency }}</span>
						</div>
						<div class="div_buttons col-4 p-0">
							{# Кнопка прибавления счета #}
							<img id='upgrade_build' class='push_upgrades' name = 'upgrade_build' src="{% static 'click/img/buildone.png' %}" value="">
							<span class = 'd-none' id = 'levelbuild' >{{score.levelbuild}}</span>
							<h6 class = 'float-left'>Цена:</h6><h6 class = 'price' id = 'price_upgrade_build'>{{ score.price_levelbuild }}</h6>
						</div>
						<div class="div_buttons col-4 p-0">
							{# Кнопка прибавления счета #}
							<img id='upgrade_plus' class='push_upgrades' name = 'upgrade_plus' src="{% static 'click/img/upgrade.png' %}" value="">
							<h6 class = 'float-left'>Цена:</h6><h6 class = 'price' id = 'price_upgraide_currency'>{{ score.price_upgraide_currency }}</h6>
						</div>
					</div>
					<div class="line_interacrive_objects" id="upgrades">
						<h6 class="m-0">upgrades</h6>
						<div class="div_buttons col-4 p-0 d-none" id='div_plus_bastshoes_button'>
							{# Кнопка прибавления счета #}
							<img id='plus_bastshoes_button' class='push_upgrades' name = 'plus_bastshoes_button' src="{% static 'click/img/bastshoesicon.png' %}" value="">
							<h6 class="count_upgrades" id ="count_bastshoes" name="count_bastshoes" class = "">{{ score.bastshoes }}</h6>
							<h6 class = 'float-left'>Цена:</h6><h6 class = 'price' id = 'price_bastshoes'>{{ score.price_bastshoes }}</h6>
						</div>
						<div class="div_buttons col-4 p-0 d-none" id='div_plus_cats_button'>
							{# Кнопка прибавления счета #}
							<img id='plus_cats_button' class='push_upgrades' name = 'plus_cats_button' src="{% static 'click/img/moneycat1.png' %}" value="">
							<h6 class="count_upgrades" id ="cats" name="cats" class = "">{{ score.cats }}</h6>
							<h6 class = 'float-left'>Цена:</h6><h6 class = 'price' id = 'price_cats'>{{ score.price_cats }}</h6>
						</div>
					</div>
				</div>
				<div class="div_buttons d-none">
					<input id="standup_russia" class = "btn btn-danger" type="button" name="standup_russia" value="Поднять страну с колен">
				</div>
			</div>
			<p id="check"></p>
			<div class="gif_panel p-0">
				<div class =  "build">
					<img src="{% static 'click/img/firstfloar.png' %}" class="build d-none" id="build">
					<div id = "bastshoes_gif">
					</div>
				</div>

				<!--
				<div class="cats_gif d-none p-0 " id = "cats_gif">
					<div class="d-flex p-0 m-0"id="tablecats">
						<img src="{% static 'click/img/tablecatsleft.png' %}" class="col-4 p-0 m-0" id="">
						<img src="{% static 'click/img/tablecatscenter.png' %}" class="col-4 p-0 m-0" id="">
						<img src="{% static 'click/img/tablecatsright.png' %}" class="col-4 p-0 m-0" id="">
					</div>
					<img src="{% static 'click/img/goldcat.gif' %}" class="col-4 p-0 m-0 d-none" id="left_cat">
					<img src="{% static 'click/img/bankcat.gif' %}" class="col-4 p-0 m-0 d-none" id="center_cat">
					<img src="{% static 'click/img/businesscat.gif' %}" class="col-4 p-0 m-0 d-none" id="right_cat">
					-->
				</div>

			</div>

	</div>
-->
	{% endfor %}
	{# <button type="button" name="btn2" class="btn btn-info" onclick="helpers(),test()">Купить помошника</button> #}
	<!-- <button type="button" name="btn3" class="btn btn-info" onclick="test()">Какой счет?</button> -->


{% elif user.is_authenticated %}
<!-- Если пользователь авторизирован, но про него нет информации в БД игры высвечивается эта форма -->
<div class="register">
	<form class="" action="/click/newgame/" method="post">{% csrf_token %}
		<input class="btn btn-primary" type="submit" name="begin" value="Начать">
		{{ Form.user }}
		<script type="text/javascript">
			$('#id_user').val("{{user.id}}");
		</script>
	</form>
</div>
{% else %}
<h4 class="bg-danger text-light text-center d-flex justify-content-center"> Войдите или зарегистрируйтесь, чтобы начать играть</h4>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'click/js/engine.js' %}"></script>
<script src="{% static 'click/js/objects.js' %}"></script>
{% endblock %}
