<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link d-fixed" id = "django" href="/guides/django/" onclick="$('#django').toggleClass('active');" >django</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id = "bootstrap" href="/guides/bootstrap/">bootstrap</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" id = "js" href="/guides/js/">js</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" id = "jQuery" href="/guides/jquery/">jQuery</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link " id = "html" href="/guides/html/">html</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link " id = "css" href="/guides/css/">css</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link " id = "sql" href="/guides/sql/">sql</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link " id = "git" href="/guides/git/">git</a>
  </li>
</ul>
