/* BAND */
@media screen and (min-width:991px){
	#banner{
		float: left;
	}
}
.ForwardToDuccess{
	background-color: #68798B;
	border-radius: 5px;
	font-weight:bold
}

#r{color:#F00100; text-shadow: black 0 0 0px;}
#o{color:#FF8000; text-shadow: black 0 0 0px;}
#y{color:#FFFF00; text-shadow: black 0 0 0px;}
#g{color:#00B001; text-shadow: black 0 0 0px;}
#b{color:#4041FF; text-shadow: black 0 0 0px;}
#p{color:#A100C1; text-shadow: black 0 0 0px;}

/*INCLUDES*/


/*MAIN*/
.mainblock{
	background-color: #FFFFFF;
	min-height: 900px;

}
/*GUIDES */
.right_column{
	overflow: hidden;
	border: solid 6px;
	border-color:  #EDEDED;
	margin:5px 5px;
	background-color: #F9F9F9;
	min-height: 100%;
}
.bookmarks{
	background-color: #FFF600;
	opacity: .9;
	border: 1px solid #B2FFFE;
}
