#Castle_area{
}
.background_image{
	position: absolute;
}

/* People */
#king_anim{
	left: 55%;
	top: 6%;
}
#peasant_field{
	position: absolute;
	width: 42%;
	height: 4.5%;
	bottom: 0.8%;
	left: 1.5%;
}
.worker{
	position: relative;
}
#engeneer_field{
	position: absolute;
	width: 45%;
	height: 3%;
	bottom: 9%;
	left: 1.5%;
}
#merchant_field{
	position: absolute;
	width: 45%;
	height: 3%;
	bottom: 22%;
	left: 1.5%;
}
